<%= form_for @truck do |f| %>

<% if @truck.errors.present? %>
    <div class="error">
      <% @truck.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%=f.label :location_id, value: "Location" %>
    <%= f.collection_select(:location_id, Location.all, :id, :body) %>
  </div>

  <%= f.submit "Submit Food Truck" %>
<% end %>
