<div class="truck-left-gutter"></div>

<div class="truck">
  <div class="truck-details">

    <div class="name">
      <%= @truck.name %>
    </div>

    <div class="location">
      <%= @truck.location.body %>
    </div>

    <div class="categories">
      <% @truck.categories.each do |category| %>
        <div class="category">
          <%= category.cuisine %>
        </div>
      <% end %>
    </div>

    <div class="edit">
      <% if current_user.admin? || @truck.user == current_user %>
        <%= link_to "Edit Truck", edit_truck_path(@truck) %>
      <% end %>
    </div>

    <div class="number-reviews">
      <% num_of_reviews = @truck.reviews.length %>
      <% if num_of_reviews > 1%>
        <%= num_of_reviews %> reviews
      <% elsif num_of_reviews == 1%>
        1 review
      <% else %>
        No Reviews
      <% end %>
    </div>
  </div>

  <div
    id='truck-reviews-app'
    data-currentuserid='<%= current_user.id %>'
    data-currentuseradmin='<%= current_user.admin %>'></div>
</div>
