<h1> <%= @truck.name %></h1>

<p>Description: <%= @truck.description %></p>
<p>Location: <%= @truck.location.body %></p>

<div 
  id='app' 
  data-currentuserid='<%= current_user.id %>'
  data-currentuseradmin='<%= current_user.admin %>'></div>

<% if current_user.admin %>
  <%= link_to "Edit Truck", edit_truck_path(@truck) %>
<% end %>
