<%= link_to('Edit Profile', edit_user_registration_path) %>

<h1>My Profile</h1>

<%= image_tag(@user.avatar, :alt => "Profile Image", :class => "profile-image")%>

<p>Name: <%= "#{@user.first_name} #{@user.last_name}" %>
<p>Email: <%= @user.email %></p>

<% if @user.truck_owner? %>
  <h4>My Trucks</h4>
    <ul>
      <% @user.trucks.each do |truck| %>
        <li><%= link_to truck.name, truck_path(truck) %></li>
      <% end %>
    </ul>
<% end %>
