<p>Hello <%= @review.truck.user.first_name %>,</p>

<p><%= "#{@review.user.first_name} #{@review.user.last_name}" %> has added a review for your food truck, <%= @review.truck.name %>!
Here's what they had to say:</p>

<p>Rating: <%= @review.rating %></p>
<% if @review.description %>
<p>Description: <%= @review.description %></p>
<% end %>

<p><a href = "<%= "yummybear.herokuapp.com/trucks/#{@review.truck_id}"%>">Check out all your reviews here.</a></p>

<p>Happy eating,</p>

<p>The YummyBear Team</p>
