<!DOCTYPE html>
<html>
  <head>

    <title>FoodTruckReviews</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Nunito+Sans|Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header class="nav">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Home', trucks_path %></li>

        <% name = "#{current_user.first_name} #{current_user.last_name}" %>
        <li><%= link_to(name, user_path(current_user)) %></li>

        <li><%= link_to('Search All Trucks', search_path) %></li>

        <li class="signout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

        <% if current_user.admin? %>
          <li class="admin-link"><%= link_to "All Users", users_path %></li>
        <% end %>

        <% if current_user.admin? || current_user.truck_owner? %>
           <li class="admin-link"><%= link_to "Add Food Truck", new_truck_path %></li>
        <% end %>

      <% end %>
    </ul>
  </header>

  <body>
    <% if flash %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
