<!DOCTYPE html>
<html>
  <head>

    <title>FoodTruckReviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to('Profile', user_path(current_user)) %></li>
        <li><%= link_to('Search All Trucks', search_path) %></li>
      <% end %>
    </ul>
  </header>

  <body>
    <% if flash %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
